<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lista de Contatos</title>
    <link rel="stylesheet" href="{% static 'contatos/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Lista de Contatos</h2>
        <ul>
            {% for contato in contatos %}
                <li>
                    <a href="{% url 'detalhe_contato' contato.id %}">{{ contato.nome }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'home' %}">Voltar para a Home</a>
    </div>
</body>
</html>
